main form {
  width: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

main form label{
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

main form input {
  width: 140px;
  height: 18px;
  font-size: 14px;
  margin-left: 6px;
  border: 0;
  border-radius: 2px;
}

main form button {
  border: 0;
  background: #737373;
  color: #FFF;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
  padding: 2px 6px;
  margin-left: 6px;
}